/****************************************************************************


test.rc

produced by Borland Resource Workshop


*****************************************************************************/
#include "dibus.rc"
#include "re.rc"

#define IDD_DIALOG2	2
#define IDC_SYSLISTVIEW1	101
#define IDC_EDIT1	103
#define IDC_EDIT2	104
#define IDC_BUTTON1	105
#define IDC_CHECKBOX1	102
#define IDD_DIALOG1	1
#define IDOK 1
#define IDCANCEL 2
#define IDHELP 3
#define IDC_BUTTON2	103


NUEVO DIALOG 0, 0, 380, 233
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Nuevo"
FONT 8, "MS Sans Serif"
{
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 256, 216, 50, 14
 CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 312, 216, 50, 14
 CONTROL "Help", IDHELP, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 200, 216, 50, 14
 CONTROL "Nuevo", 110, "SysTabControl32", 0 | WS_CHILD | WS_VISIBLE | WS_TABSTOP,  8, 8, 370, 204, 0
}

NEWFILE DIALOG 0, 0, 365, 209
STYLE  WS_CHILD | WS_VISIBLE | WS_SYSMENU
CAPTION ""
FONT 8, "MS Sans Serif"
{
 CONTROL "ListView1", IDC_SYSLISTVIEW1, "SysListView32", LVS_LIST | LVS_SMALLICON | WS_CHILD | WS_VISIBLE | WS_BORDER, 8, 4, 220, 180, 0
 CONTROL "Añadir al proyecto", 102, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 236, 4, 108, 12, 0
 CONTROL "Nombre", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 236, 47, 60, 8, 0
 CONTROL "", IDC_EDIT1, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 236, 58, 124, 12, 0
 CONTROL "Localizacion:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 236, 80, 60, 8, 0
 CONTROL "", IDC_EDIT2, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 236, 93, 112, 12, 0
 CONTROL "...", 105, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 349, 93, 12, 12, 0
}

CONFIGDIR DIALOG 64, 51, 417, 335
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "DIALOG_1"
FONT 8, "MS Sans Serif"
{
	LTEXT "Harbour", -1, 14, 11, 30, 8
	EDITTEXT 101, 54, 9, 118, 12, ES_LOWERCASE | WS_BORDER | WS_TABSTOP
	PUSHBUTTON "...", 102, 178, 9, 17, 11, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	LTEXT "BCC", -1, 14, 26, 30, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	EDITTEXT 103, 54, 24, 118, 12, ES_LOWERCASE | WS_BORDER | WS_TABSTOP
	PUSHBUTTON "...", 104, 178, 24, 17, 11, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "OutDir", -1, "STATIC", WS_CHILD | WS_VISIBLE | WS_GROUP, 14, 63, 30, 8
	CONTROL "", 113, "EDIT", ES_LEFT | ES_LOWERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 54, 61, 118, 12
	PUSHBUTTON "...", 114, 178, 61, 17, 11, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	LTEXT "Prgs", -1, 15, 76, 16, 8
	EDITTEXT 105, 54, 77, 274, 69, ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_LOWERCASE | ES_WANTRETURN | WS_BORDER | WS_VSCROLL | WS_TABSTOP
	PUSHBUTTON "+", 110, 335, 132, 19, 14
	LTEXT "Includes", -1, 17, 172, 27, 8
	EDITTEXT 106, 55, 152, 274, 69, ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_LOWERCASE | ES_WANTRETURN | WS_BORDER | WS_VSCROLL | WS_TABSTOP
	PUSHBUTTON "+", 111, 335, 207, 19, 14
	LTEXT "Libs", -1, 17, 225, 16, 8
	EDITTEXT 107, 56, 226, 274, 69, ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_LOWERCASE | ES_WANTRETURN | WS_BORDER | WS_VSCROLL | WS_TABSTOP
	PUSHBUTTON "+", 112, 335, 281, 19, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Ok", 108, 338, 310, 32, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", 109, 378, 310, 31, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
}

PROPERTIES DIALOG 0, 0, 317, 54
STYLE DS_MODALFRAME |  WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Propiedades de fichero"
FONT 8, "MS Sans Serif"
{
 CONTROL "Ruta del fichero:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 15, 56, 9, 0
 CONTROL "", 101, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 76, 12, 212, 12, 0
 CONTROL "Nombre:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 31, 32, 9, 0
 CONTROL "", 102, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 76, 28, 212, 12, 0
}

MODIFYNAME DIALOG 0, 0, 317, 74
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Propiedades de fichero"
FONT 8, "MS Sans Serif"
{
 CONTROL "Ruta del fichero:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 15, 56, 9, 0
 CONTROL "", 101, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 76, 12, 212, 12, 0
 CONTROL "Nombre:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 31, 32, 9, 0
 CONTROL "", 102, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 76, 28, 212, 12, 0
 CONTROL "Help", IDHELP, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 48, 50, 14
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 206, 48, 50, 14
 CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 262, 48, 50, 14
}

FINDINFILES2 DIALOG 0, 0, 287, 85
STYLE WS_CHILD
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "&Buscar", IDOK, 230,7,50,14
 PUSHBUTTON "Cancelar", IDCANCEL, 230,31,50,14
 LTEXT "Buscar:", IDC_STATIC, 9,8,56,10
 LTEXT "En fichers/tipos:", IDC_STATIC, 9,27,63,10
 LTEXT "En carpeta:", IDC_STATIC, 9,46,56,10
 CONTROL "No ign. May.", 101, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 9,66,60,10
 CONTROL "Recursivo", 102, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 73,66,78,10
 CONTROL "Expresión regular", 103, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 160,66,84,10
 COMBOBOX 104, 73,7,126,114, CBS_DROPDOWN | CBS_SORT | WS_VSCROLL | WS_TABSTOP
 COMBOBOX 105, 73,27,126,100, CBS_DROPDOWN | CBS_SORT | WS_VSCROLL | WS_TABSTOP
 COMBOBOX 106, 73,45,126,113, CBS_DROPDOWN | CBS_SORT | WS_VSCROLL | WS_TABSTOP
 //PUSHBUTTON "...", 107, 204,7,13,12
 PUSHBUTTON "...", 108, 204,45,13,12
}

FINDINFILES DIALOG 6, 18, 210, 142
STYLE WS_CHILD|DS_CONTEXTHELP|DS_3DLOOK|WS_SYSMENU|WS_VISIBLE
FONT 8, "MS Sans Serif"
{
  CONTROL "OK", 1, "Button", WS_TABSTOP, 2, 92, 45, 15
  CONTROL "Cancel", 2, "Button", WS_TABSTOP, 2, 108, 45, 15
  CONTROL "Texto:", 4001, "Static", WS_GROUP, 2, 2, 40, 8
  CONTROL "", 104, "ComboBox", WS_BORDER|CBS_DROPDOWN|CBS_SORT|WS_VSCROLL|WS_TABSTOP, 2, 11, 136, 40
  CONTROL "", 105, "ComboBox", WS_BORDER|CBS_DROPDOWN|CBS_SORT|WS_VSCROLL|WS_TABSTOP, 2, 36, 136, 40
  CONTROL "", 106, "ComboBox", WS_BORDER|CBS_DROPDOWN|CBS_SORT|WS_VSCROLL|WS_TABSTOP, 2, 60, 136, 40
  CONTROL "...", 108, "Button", WS_TABSTOP, 143, 60, 12, 13
  CONTROL "En ficheros:", -1, "Static", WS_GROUP, 2, 26, 40, 8
  CONTROL "Carpeta:", -1, "Static", WS_GROUP, 2, 51, 40, 8
  CONTROL "Ignorar May/min", 101, "Button", BS_AUTOCHECKBOX|WS_TABSTOP, 2, 76, 64, 10
  CONTROL "Recursivo", 102, "Button", BS_AUTOCHECKBOX|WS_TABSTOP, 74, 76, 48, 10
}

Inspector DIALOG 37, 30, 217, 157
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "FiveWin - Object Inspector"
FONT 8, "Arial"
BEGIN
	CONTROL "", 130, "LISTBOX", LBS_NOTIFY | LBS_USETABSTOPS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL, 3, 28, 211, 111
	EDITTEXT 120, 53, 2, 72, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	PUSHBUTTON "&End", 2, 132, 140, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	LTEXT "&Data", 110, 5, 5, 44, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	PUSHBUTTON "&Classes Hierarchy", 111, 44, 140, 72, 14
	CONTROL "  &Data Name              Type                          Contents", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 3, 17, 212, 8
END

translate DIALOG 45, 22, 361, 347
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Translate"
FONT 8, "MS Sans Serif"
{
 EDITTEXT 101, 10, 23, 315, 112, ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
 EDITTEXT 102, 11, 152, 315, 112, ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
 PUSHBUTTON "To HB", 103, 115, 282, 50, 14
 PUSHBUTTON "To Clipper", 104, 195, 282, 50, 14
 DEFPUSHBUTTON "OK", IDOK, 301, 288, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 301, 306, 50, 14
 PUSHBUTTON "Help", IDHELP, 301, 324, 50, 14
 LTEXT "Definición de función", -1, 9, 9, 72, 8
}
