abrir        BITMAP "bmps\\abrir.bmp"
add          BITMAP "bmps\\add.bmp"
armenu1      BITMAP "bmps\\ar_menu1.bmp"
armenu2      BITMAP "bmps\\ar_menu2.bmp"
arrow        BITMAP "bmps\\arrow.bmp"
arrowle      BITMAP "bmps\\arrowle.bmp"
arrowri      BITMAP "bmps\\arrowri.bmp"
arrowup      BITMAP "bmps\\arrowup.bmp"
bar          BITMAP "bmps\\bar.bmp"
bchecked     BITMAP "bmps\\bchecked.bmp"
bitmap       BITMAP "bmps\bitmap.bmp"
blue         BITMAP "bmps\blue.bmp"
bmpmenu      BITMAP "bmps\bmpmenu.bmp"
browse       BITMAP "bmps\browse.bmp"
brush        BITMAP "bmps\brush.bmp"
brush1       BITMAP "bmps\brush1.bmp"
brush2       BITMAP "bmps\brush2.bmp"
btn          BITMAP "bmps\btn.bmp"
btnbmp       BITMAP "bmps\btnbmp.bmp"
canalfive    BITMAP "bmps\canal5.bmp"
carpeta      BITMAP "bmps\carpeta.bmp"
cdrom        BITMAP "bmps\cdrom.bmp"
ch           BITMAP "bmps\ch.bmp"
chek         BITMAP "bmps\check.bmp"
chkofppc     BITMAP "bmps\chkofppc.bmp"
chkonppc     BITMAP "bmps\chkonppc.bmp"
clasic       BITMAP "bmps\clasic.bmp"
class        BITMAP "bmps\class.bmp"
combo        BITMAP "bmps\combo.bmp"
copiar       BITMAP "bmps\copiar.bmp"
copy         BITMAP "bmps\copy.bmp"
cortar       BITMAP "bmps\cortar.bmp"
custom       BITMAP "bmps\custom.bmp"
cut          BITMAP "bmps\cut.bmp"
cximage      BITMAP "bmps\cximage.bmp"
cyan         BITMAP "bmps\cyan.bmp"
database     BITMAP "bmps\database.bmp"
dialog       BITMAP "bmps\dialog.bmp"
dialogo      ICON   "iconos\dialog.ico"
icono        ICON   "iconos\cursor.ico"
empty        BITMAP "bmps\empty.bmp"
espiar       BITMAP "bmps\espiar.bmp"
finded       BITMAP "bmps\find.bmp"
findinfi     BITMAP "bmps\findinfi.bmp"
folder       BITMAP "bmps\folder.bmp"
ftp          BITMAP "bmps\ftp.bmp"
ftp2         BITMAP "bmps\ftp2.bmp"
get          BITMAP "bmps\get.bmp"
grayrect     BITMAP "bmps\grayrect.bmp"
green        BITMAP "bmps\green.bmp"
grid         BITMAP "bmps\grid.bmp"
griphor      BITMAP "bmps\griphor.bmp"
gripver      BITMAP "bmps\gripver.bmp"
groupbox     BITMAP "bmps\groupbox.bmp"
hddisk       BITMAP "bmps\hddisk.bmp"
hline        BITMAP "bmps\hline.bmp"
home         BITMAP "bmps\home.bmp"
hscroll      BITMAP "bmps\hscroll.bmp"
html         BITMAP "bmps\html.bmp"
iconwnd      BITMAP "bmps\iconwnd.bmp"
icon         BITMAP "bmps\icon.bmp"
ir           BITMAP "bmps\ir.bmp"
item         BITMAP "bmps\item.bmp"
keyboard     BITMAP "bmps\keyboard.bmp"
left         BITMAP "bmps\left.bmp"
lines1       BITMAP "bmps\lines1.bmp"
lines2       BITMAP "bmps\lines2.bmp"
lines3       BITMAP "bmps\lines3.bmp"
lines4       BITMAP "bmps\lines4.bmp"
lines5       BITMAP "bmps\lines5.bmp"
listbox      BITMAP "bmps\listbox.bmp"
listview     BITMAP "bmps\listview.bmp"
magenta      BITMAP "bmps\magenta.bmp"
menumain     BITMAP "bmps\menumain.bmp"

mobile1      BITMAP "bmps\mobile1.bmp"
mobile2      BITMAP "bmps\mobile2.bmp"
nchecked     BITMAP "bmps\nchecked.bmp"
netdrive     BITMAP "bmps\netdrive.bmp"
new          BITMAP "bmps\new.bmp"
newitem      BITMAP "bmps\newitem.bmp"
nuevo        BITMAP "bmps\nuevo.bmp"
okext        BITMAP "bmps\okext.bmp"
okppc        BITMAP "bmps\okppc.bmp"
oksmph       BITMAP "bmps\oksmph.bmp"
open         BITMAP "bmps\open.bmp"
paleta       BITMAP "bmps\paleta.bmp"
paste        BITMAP "bmps\paste.bmp"
pegar        BITMAP "bmps\pegar.bmp"
picture      BITMAP "bmps\picture.bmp"

ppc          BITMAP "bmps\ppc.bmp"
prg          BITMAP "bmps\prg.bmp"
printer      BITMAP "bmps\printer.bmp"
progress     BITMAP "bmps\progress.bmp"
props        BITMAP "bmps\props.bmp"
radio        BITMAP "bmps\radio.bmp"
radofppc     BITMAP "bmps\radofppc.bmp"
radonppc     BITMAP "bmps\radonppc.bmp"
rc           BITMAP "bmps\rc.bmp"
red          BITMAP "bmps\red.bmp"
redo         BITMAP "bmps\redo.bmp"
redoed       BITMAP "bmps\redo.bmp"
refresh      BITMAP "bmps\refresh.bmp"
right        BITMAP "bmps\right.bmp"
rotate       BITMAP "bmps\rotate.bmp"
save         BITMAP "bmps\salvar.bmp"
saveall      BITMAP "bmps\saveall.bmp"
saveed       BITMAP "bmps\save.bmp"
say          BITMAP "bmps\say.bmp"
select       BITMAP "bmps\select.bmp"
slider       BITMAP "bmps\slider.bmp"
smblue       BITMAP "bmps\smblue.bmp"
smcyan       BITMAP "bmps\smcyan.bmp"
smgreen      BITMAP "bmps\smgreen.bmp"
smmagen      BITMAP "bmps\smmagen.bmp"
smred        BITMAP "bmps\smred.bmp"
smyell       BITMAP "bmps\smyell.bmp"
source       BITMAP "bmps\source.bmp"
spin         BITMAP "bmps\spin.bmp"
spy          BITMAP "bmps\spy.bmp"
start        BITMAP "bmps\start.bmp"
stframe      BITMAP "bmps\stframe.bmp"
stop         BITMAP "bmps\stop.bmp"
switch       BITMAP "bmps\switch.bmp"
switch2      BITMAP "bmps\switch2.bmp"
sysppc       BITMAP "bmps\sysppc.bmp"
tabctrl      BITMAP "bmps\tabctrl.bmp"
temas        BITMAP "bmps\temas.bmp"
themes       BITMAP "bmps\themes.bmp"
text         BITMAP "bmps\text.bmp"
tools        BITMAP "bmps\tools.bmp"
trash        BITMAP "bmps\trash.bmp"
tree         BITMAP "bmps\tree.bmp"
traduce      BITMAP "bmps\traduce.bmp"
undo         BITMAP "bmps\undo.bmp"
undoed       BITMAP "bmps\undo.bmp"
user         BITMAP "bmps\user.bmp"
vline        BITMAP "bmps\vline.bmp"
vscroll      BITMAP "bmps\vscroll.bmp"
web          BITMAP "bmps\web.bmp"
xdoit        BITMAP "bmps\xdoit.bmp"
xppc         BITMAP "bmps\xppc.bmp"
yellow       BITMAP "bmps\yellow.bmp"
zoom         BITMAP "bmps\zoom.bmp"

al_left      BITMAP "bmps\al_left.bmp"
al_down      BITMAP "bmps\al_down.bmp"
al_top       BITMAP "bmps\al_top.bmp"
al_right     BITMAP "bmps\al_right.bmp"

samewi       BITMAP "bmps\samewi.bmp"
samehe       BITMAP "bmps\samehe.bmp"
samebo       BITMAP "bmps\samebo.bmp"


actual   BITMAP "toolvisor\actual.bmp"
delbmp   BITMAP "toolvisor\delbmp.bmp"
diapos   BITMAP "toolvisor\diapos.bmp"
editbmp  BITMAP "toolvisor\editbmp.bmp"
printbmp BITMAP "toolvisor\printbmp.bmp"
rotale   BITMAP "toolvisor\rotale.bmp"
rotari   BITMAP "toolvisor\rotari.bmp"
savebmp  BITMAP "toolvisor\savebmp.bmp"
toleft   BITMAP "toolvisor\toleft.bmp"
toright  BITMAP "toolvisor\toright.bmp"
unzoom   BITMAP "toolvisor\unzoom.bmp"
zoom2    BITMAP "toolvisor\zoom.bmp"



form        ICON   "iconos\form.ico"

btn1     BITMAP "bmps\btn1.bmp"
btn2     BITMAP "bmps\btn2.bmp"
btn3     BITMAP "bmps\btn3.bmp"
btn4     BITMAP "bmps\btn4.bmp"
minus    BITMAP "bmps\minus.bmp"
plus     BITMAP "bmps\plus.bmp"


